@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

* {
  font-family:
    "Nunito Sans", "DM Sans", ui-sans-serif, system-ui, sans-serif !important;
  transition: all 0.4s ease !important;
}
